<div class="container">
  <h1>Create Account</h1>
  </br>
  <div class="span6" style="text-align: left">
    <form action="/teachers/signup" method="POST">
    	<br>
    		<h3>Name:</h3>
    		<input type="text" name="username" placeholder="Username">  
    	<br>
    		<h3>Username:</h3>
  	 		<input type="text" name="username" placeholder="Username">  
    	<br>
    		<h3>Password:</h3>
      		<input type="password" name="password" placeholder="Password">
    	<br>
    		<h3>E-Mail:</h3>
      		<input type="text" name="email">
    	<br>
      <input type="submit" value="Submit">
    </form>
  </div>
</div>