<div class="container">
  <h1>Create Course</h1>
  </br>
  <div class="span6" style="text-align: left">
    <form action="/teachers/create_course" method="POST">
    	<br>
    		<h3>Name:</h3>
    		<input type="text" name="name" placeholder="Username">  
    	<br>
    		<h3>Semester:</h3>
  	 		<input type="text" name="semester" placeholder="Semester">  
    	<br>
    		<h3>Period:</h3>
      		<input type="text" name="period" placeholder="Period">
    	<br>
      <input type="submit" value="Submit">
    </form>
  </div>
</div>