<div class="container">
  <h1>Create Course</h1>
  </br>
  <div class="span6" style="text-align: left">
    <form action="/teachers/create_student" method="POST">
    	<br>
    		<h3>Student Name:</h3>
    		<input type="text" name="student[name]" placeholder="Username">  
    	<br>
    		<h3>Student Email:</h3>
  	 		<input type="text" name="student[email]" placeholder="Semester">  
    	<br>
    		<h3>Class:</h3>
      		<%@courses.each do |course|%>
            <input type="checkbox" name="course[id]" value="<%=course.id%>" id="<%=course.name%>"><%=course.name%> / <%=course.period%></input>
          <%end%>
    	<br>
      <input type="submit" value="Submit">
    </form>
  </div>
</div>