<div class="container">
  <h1>Are you a Teacher or a Student?</h1>
  </br>
  <div class="span6" style="text-align: left">
    <form action="/signup" method="POST">
      <input type="submit" name="teacher" value="Teacher">
    <br>
      <input type="submit" name="student" value="Student">
    </form>
  </div>
</div>